<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="ApiHost" value="http://cosmin.caloian.align1-dev.emag.network/app_dev.php/" />
    </appSettings>
</configuration>